<amexio-row>
    <amexio-column size="12">
    </amexio-column>
</amexio-row>

<amexio-row>
    <amexio-column size="12">
        <amexio-typeahead [(ngModel)]="customerregisterationModel.Company" name="customerregisterationModel.Company" [field-label]="'Company List'" [data-reader]="'data'" [display-field]="'companyName'" [value-field]="'companyId'" [key]="'companyName'" [trigger-char]="1"
            [data]="typeaheadData" (onClick)="onClick_Company($event)">
        </amexio-typeahead>
    </amexio-column>
</amexio-row>